@import 'src/styles/variables.scss';

.wrapper {
  max-width: 250px;
  width: 100%;
  padding: 1rem;
  background: $white-color;
  border: 1px solid #eaebed;
  border-radius: $border-radius;
  height: fit-content;

  @media screen and (max-width: 1267px) {
    display: none;
  }
}

.title {
  margin: 0;
}
