.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 2;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  @media screen and (max-width: 648px) {
    padding: 0.5rem;
  }
}

.image {
  max-width: 600px;
  max-height: 600px;
  width: 100%;
  object-fit: contain;

  @media screen and (max-width: 648px) {
    min-height: max-content;
  }
}
