.wrapper {
  position: sticky;
  top: 20px;
  // bottom: 24px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  width: 35%;
  max-width: 300px;
  padding: 20px;
  background: #fff;
  border: 1px solid #eaebed;
  border-radius: 12px;
  height: max-content;
  // max-height: max-content;
}

.container {
  position: relative;
}

.title {
  margin: 0;
}
