.error {
  display: flex;
  column-gap: 10px;
  align-items: center;
  padding: 10px;
  margin-bottom: 16px;
  border-radius: 10px;
  border: 1px solid #ff5636;
  font-size: 14px;
  color: #ff5636;
  background-color: #ffd6c9;
}

.warningLoginIcon {
  padding-left: 5px;
  margin-bottom: 2px;
  background-color: #ffd6c9;
}
