@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.container {
  @include flex(row, center, center);
<<<<<<< HEAD
  gap: 1rem;

  @media #{$mq-mobile} {
    flex-direction: column;
  }
=======
  column-gap: 1rem;
  width: 100%;
>>>>>>> 2453fa3af1101a3949c78d371469494491fb7354
}
