.cardActions {
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 10px;
  flex: 1;
  width: 100%;
  height: max-content;
}

.priceInfo {
  align-items: flex-end;
  display: flex;
  justify-content: center;
  column-gap: 10px;
  width: 100%;
  padding: 0 0.5rem;
}

.value {
  line-height: 1;
  color: #213038;
}

.discount {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #e5006d;
}