.container {
  align-items: center;
  display: flex;
}

.count_input {
  border: 1px solid rgba(0, 0, 0, 0.26);
  border-radius: 5px;
  margin: 0 0.5rem;
  max-width: 2rem;
  outline: none;
  text-align: center;
  transition: border-color 200ms linear, color 200ms linear;

  &:focus {
    border-color: #1976d2;
  }

  &:disabled {
    border-color: rgba(0, 0, 0, 0.26);
    color: rgba(0, 0, 0, 0.26);
  }

  @media (hover: hover) {
    &:hover {
      border-color: #1976d2;

      &:disabled {
        border-color: rgba(0, 0, 0, 0.26);
        color: rgba(0, 0, 0, 0.26);
      }
    }
  }
}