.category {
  width: 100%;
}

.container {
  column-gap: 2rem;
  display: flex;
  margin-top: 1rem;
  width: 100%;
}

.control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  margin: 0 auto;
}

.productsContainer {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 1rem;
  margin: 1rem auto;

  @media screen and (max-width: 964px) {
    grid-template-columns: repeat(2, 300px);
  }

  @media screen and (max-width: 648px) {
    grid-template-columns: repeat(1, 300px);
  }
}
