.form {
  @include flex(column, space-between, flex-start);
  gap: 2rem;
  & > input {
    width: 100%;
    border-radius: 1.3rem;
    font-size: 1.5rem;
    padding: 2.5rem;
  }
}

.info {
  width: 100%;
  border: 1px solid #999;
  border-radius: 1.3rem;
  font-size: 1.5rem;
  padding: 2.5rem;
}
