.button,
.button_active {
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  padding: 0.625rem;
  text-decoration: none;
  width: fit-content;
}

.button {
  background-color: #5e96fc;
  cursor: pointer;  
  transition: background-color 200ms linear;

  @media (hover: hover) {
    &:hover {
      background-color: #256df3;
    }
  }

  &_active {
    background-color: #b2caf7;
    cursor: default;
  }
}