.routingError,
.oops {
  user-select: none;
}

.routingError {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
}

.oops {
  font-size: 4rem;
  margin: 0;
  margin-bottom: 1rem;
}