@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.header {
  @include flex();
  background-color: $white-color;
  padding: 1rem;
  width: 100%;
}

.headerContent {
  align-items: center;
  display: flex;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

.container {
  @include flex();
  padding-left: 10rem;
  width: 100%;
}

.headerElements {
  align-items: center;
  display: flex;
  gap: 1rem;
}
