@import 'styles/variables.scss';

.header {
  align-items: center;
  background-color: $white-color;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}

.headerContent {
  align-items: center;
  display: flex;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-left: 10rem;
  width: 100%;
}

.headerElements {
  align-items: center;
  display: flex;
  gap: 1rem;
}
