.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding-bottom: 10px;
}

.label {
  font-size: 16px;
  font-weight: 600;
}

.input {
  width: 95%;
  border-radius: 7px;
  padding: 10px;
  &__container {
    flex-grow: 1;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
}

.errorValid {
  color: red;
}
