.container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 20px 10px;
  column-gap: 15px;
  border: 1px solid #999;
  border-radius: 10px;
  margin-bottom: 40px;
}

.title {
  width: 40%;
  position: absolute;
  top: -10px;
  left: 20px;
  background-color: #fff;
}

.input {
  width: 100%;
  border-radius: 7px;
  padding: 10px;
  &__container {
    flex-grow: 1;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
}

.errorValid {
  color: red;
}
