.register {
  overflow: hidden;
}

.name__container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.title {
  text-align: center;
  font-size: 26px;
}

.form {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  border: 1px solid #99999980;
  border-radius: 10px;
  gap: 10px;
  margin: 0 auto;
  padding: 35px;
}

label {
  font-size: 16px;
  font-weight: 600;
}

.input {
  width: 100%;
  border-radius: 7px;
  padding: 10px;
  &__container {
    width: 50%;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
}

.select {
  flex-grow: 1;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

button {
  border-radius: 7px;
  background-color: #2b94e0;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  &:active {
    transform: translate(1px, 1px);
  }
}
.adress__container {
  display: flex;
  gap: 25px;
}

.errorValid {
  color: red;
}
