.container {
  width: 80%;
  margin: 0 auto;
  transform: translate(0, 100%);
  animation-name: appear;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.title {
  text-align: center;
  background-color: #18934d;
  font-size: 50px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.loading {
  width: 0;
  height: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #9ddb15;
  animation-name: move;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes move {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes appear {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}
