.container {
  width: 30%;
  position: absolute;
  top: -100%;
  right: 0;
  animation-name: appear;
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.title {
  height: 90px;
  text-align: center;
  background-color: #18934d96;
  font-size: 50px;
}

.loading {
  width: 0;
  height: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #9ddb15;
  animation-name: move;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes move {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes appear {
  0% {
    top: 100%;
  }
  50% {
    top: 91%;
  }
  100% {
    top: 100%;
  }
}

.hidden {
  overflow: hidden;
}
