.title {
  margin: 0;
}

.linkName {
  text-decoration: none;
  color: #213038;
}

.productImage {
  padding: 16px;
  flex: 2;
}

.image {
  max-width: 150px;
  width: 100%;
  height: auto;
}

.description {
  max-width: 400px;
}

.cardInfo {
  flex: 1;
}

.list {
  list-style-type: none;
  padding: 0;
}

.listItem {
  margin-bottom: 8px;
  line-height: 20px;
}

.attributes {
  margin: 15px 0;
}

.cardActions {
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 10px;
  flex: 1;
  width: 100%;
  height: max-content;
}

.priceInfo {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  width: 100%;
  padding: 8px;
}

.value {
  line-height: 1;
  color: #213038;
}

.discount {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #e5006d;
}

.listItem {
  list-style: none;
}
