@import './styles/normalize.css';

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  background-color: #f2f2f2;
}

header,
main,
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

a {
  text-decoration: none;
}

main {
  flex: 1;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.errorValid {
  color: red;
  font-size: 1rem;
}
