@import './styles/normalize.css';

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  background-color: #f2f2f2;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 0 1rem;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}
