header,
main,
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

main {
  flex: 1;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.errorValid {
  color: red;
  font-size: 1rem;
}
